@{
    ViewData["Title"] = "Home Page";
}

<img src="./images/Gym.jpg" id="background-image">

<div class="parent container d-flex justify-content-center align-items-center h-100">
    <div class="child">
<h1 style = "color: white; font-size: 9rem;">Flex Appeal Fitness</h1>
</div>